.user-login-form {
  .captcha {
    margin: 0 0 20px;

    details {
      border: 0;
    }
    summary {
      display: none;
    }
    &.card {
      border: 0;
    }
    .card-body {
      padding: 0;
      border: 0;
      font-size: 14px;
    }
  }

  .form-control {
    font-size: 20px;
    padding: 10px;
    margin: 0 0 20px;

    & ::placeholder {
      color: #e0dfde;
    }
  }

  .form-actions {
    margin-top: 25px;
  }
}
